@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: Arvo, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

header {
  color: white;
}

.masthead {
  background-color: black;
  height: 40px;
  width: 100%;
  margin: 0;
}

.brain {
  margin: 0;
  line-height: 40px;
  padding-left: .5rem;
  float: left;
}

.links {
  width: 100%;
  text-align: center;
}

.links a {
  display: block;
  color: black;
}

.links ul li {
  padding: 15px 0;
  border-bottom: 1px solid red;
}

.links ul li:last-child {
  border-bottom: none;
}

.links ul {
  margin-bottom: 0;
  overflow: hidden;
  height: 0;
}

.links ul.open {
  height: auto;
}

.links a:hover {
  color: red;
}

.width {
  width: 100%;
  background-color: white;
  height: 100%;
}

section {
  max-width: 30em;
  margin: 0 auto;
}

.puta {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: .5em;
}

.toper a {
  color: black;
}

.toper a:hover {
  color: grey;
}

input {
  border: 1px solid black;
}

.last:hover {
  background-color: black;
  border-color: black;
}

.last2 {
  background-color: black;
  border-color: black;
}

.last2:hover {
  background-color: white;
  color: black;

}

.menu-icon {
  color: white;
  background-color: black;
  cursor: pointer;
  width: 40px;
  position: absolute;
  right: 1rem;
  top: 7px;

}

#toggle {
  display: none;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  color: white;
}

.main-btn {
  background-color: red;
  border: none;
}

.icon {
  width: 100%;
}

.she {
  width: 19%;
  float: left;
  padding-right: .2rem;
}

.colla {
  text-align: center;
}

.daisy {
  padding-top: .25em;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
  color: white;
}

footer {
  padding-left: .7em;
  margin-bottom: .5em;
  background-color: grey;
  padding-right: .7em;
}

footer a {
  color: white;
}

footer a:hover {
  color: red;
}

.demo li {
  padding: .5em 0;
}

.contact li {
  padding: .5em 0;
}

.badges {
  width: 100%;
}

.social {
  width: 15%;
  float: right;
  margin-bottom: .5em;
  background-color: grey;
}

.k2017 {
  padding-top: 1rem;
}

body {
  background-color: white;
}

@media only screen and (min-width: 21em) {

  .banner-content {
    bottom: 70px;
  }

}

@media only screen and (min-width: 25em) {

  .daisy {
    padding-top: .6em;
  }

  .she {
    width: 17%;
  }

  .banner-content {
    bottom: 80px;
  }

}

@media only screen and (min-width: 30em) {

  .banner-content {
    bottom: 100px;
  }

}

@media only screen and (min-width: 33em) {

  .she {
    width: 15%;
    padding-right: .4rem;
  }

  .banner-content {
    bottom: 120px;
  }

  .black {
    padding: 4rem;
  }

  .white {
    padding: 4rem;
  }

  .social {
    width: 12%;
  }

}

@media only screen and (min-width: 40em) {

  .banner-content {
    bottom: 150px;
  }

}

@media only screen and (min-width: 45em) {

  .banner {
    max-height: 23em;
  }

  .social {
    width: 10%;
  }

  .black {
    padding: 6rem;
  }

  .white {
    padding: 6rem;
  }

}

@media only screen and (min-width: 57em) {

  .links ul li {
    display: inline;
    float: right;
    margin-right: 2rem;
  }

}

@media only screen and (min-width: 60em) {

  .menu-icon {
    top: 4px;
  }

  .icon {
    width: 60%;
    float: left;
    padding: 1rem;
  }

  .tip {
    margin: 1rem;
  }

  .white {
    padding: 2em;
  }

  .black {
    padding: 2em;
  }

  .she {
    width: 9%;
  }

}

@media only screen and (min-width: 62em) {

  .icon {
    width: 50%;
  }

}

@media only screen and (min-width: 64em) {

  .icon {
    width: 47%;
  }

  .black {
    padding: 3.5em;
  }

  .max {
    max-width: 55em;
    margin: auto;
  }

  .menu-icon {
    top: 0;
  }

  .social {
    width: 7%;
  }

}
